{% set _debian_bridge_included = True %}

{%- if item.interfaces is defined %}
    bridge_ports {{ item.interfaces | join(' ') }}
{% endif %}

{% if item.parameters is defined %}
{% set params = item.parameters %}

{% if params['ageing-time'] is defined %}
    bridge_ageing {{ params['ageing-time'] }}
{% endif %}

{%- if params['priority'] is defined %}
    bridge_bridgeprio {{ params['priority'] }}
{% endif %}

{%- if params['stp'] is defined %}
    bridge_stp {{ (params['stp'] or params['stp'] in ("on", "yes")) | ternary("on", "off")  }}
{% endif %}
  
{%- if params['forward-delay'] is defined %}
    bridge_fd {{ params['forward-delay'] }}
{% endif %}

{% endif %}

