DEVICE={{ item.device }}
BONDING_MASTER=yes
TYPE=Bond
{# Prepare list of bonding options #}
{%- if item.parameters is defined -%}
  {%- set params = item.parameters -%}
  {%- set params_list = [] -%}
  
  {%- if params.mode is defined -%}
    {%- set params_list = params_list + [ 'mode=' + params['mode'] ] -%}
  {%- endif -%}
  
  {%- if params['mii-monitor-interval'] is defined -%}
    {%- set params_list = params_list + [ 'miimon=' ~ params['mii-monitor-interval'] ] -%}
  {%- endif -%}

  {%- if params['transmit-hash-policy'] is defined -%}
    {%- set params_list = params_list + [ 'xmit_hash_policy=' ~ params['transmit-hash-policy'] ] -%}
  {%- endif -%}

  {%- if params['lacp-rate'] is defined -%}
    {%- set params_list = params_list + [ 'lacp_rate=' ~ params['lacp-rate'] ] -%}
  {%- endif -%}
  
{%- endif -%}
BONDING_OPTS="{{ params_list | join(' ') }}"

{% include "_redhat_ip.j2" %}
