{% set iface_name = item.device %}
DEVICE={{ iface_name }}
TYPE=Bridge
{% if item.parameters['stp'] is defined %}
STP={{ (item.parameters['stp'] or item.parameters['stp'] == "on") | ternary("on", "off") }}
{% endif%}
# BRIDGING_OPTS=
{% include "_redhat_ip.j2" %}
