{% if item.nameservers.addresses is defined %}
    dns-nameservers        {{ item.nameservers.addresses | join(' ') }}
{% endif %}
{% if item.nameservers.search is defined %}
    dns-search             {{ item.nameservers.search | join(' ') }}
{% endif %}

