{% macro common_options() %}
{%   for opt in item.backend.ifupdown.command_options | default([]) %}
{%     if opt is mapping %}
{%       if opt.comment is defined %}
    # {{ opt.comment }}
{%       endif %}
    {{ opt.command }}
{%     else %}
    {{ opt }}
{%     endif %}
{%   endfor %}
{%   if item.mtu is defined %}
    mtu {{ item.mtu }}
{%   endif %}
{{- macro_macaddress() -}}
{% endmacro %}

{% macro macro_macaddress() %}
{%   if item.macaddress is defined %}
    hwaddress {{ item.macaddress }}
{%   endif %}
{% endmacro %}

{% macro interface_definition(family, method, type, item, default=False) %}
iface {{ item.device }} {{ family }} {{ method }}
{%   if family == 'inet' and method == 'static' %}
{%     include "ifupdown_ipv4_options.j2" %}
{%   endif %}
{%   if family == 'inet6' and method == 'static' %}
{%     include "ifupdown_ipv6_options.j2" %}
{%   endif %}
{%   if family == 'inet' and method == 'dhcp' %}
{%     include "ifupdown_ipv4_dhcp.j2" %}
{%   endif %}
{%   if default %}
{%     if type == 'vlan'
          and item.link is defined and item.id is defined and (item.device != "{}.{}".format(item.link, item.id)) %}
    pre-up /bin/ip link add link {{ item.link }} name {{ item.device }} type vlan id {{ item.id }}
    up /bin/ip link set {{ item.link }} up
    down /bin/ip link del name {{ item.device }}
{%     endif %}
{{- common_options() -}}
{%     if type == 'bond' %}
{%       include "ifupdown_bond_options.j2" %}
{%     endif %}
{%     if type == 'bridge' %}
{%       include "ifupdown_bridge_options.j2" %}
{%     endif %}
{%     if item.description | default("") %}
{%       if type != 'bond' and type != 'loopback' %}
    description {{ item.description }}
{%       else %}
    up /sbin/ip link set $IFACE alias "{{ item.description }}"
{%       endif %}
{%     endif %}
{%   endif %}{# "end {% if default %} #}
{% endmacro %}
