{% extends "ifupdown_interface_base.j2" %}
{% set type = 'bond' %}
{# {% block ifaces %} #}
{# {% if add_family_inet | default(False) %} #}
{# {{ def_iface('bond', 'inet', item) }} #}
{# {% endif %} #}
{# {% if add_family_inet6 | default(False) %} #}
{# {{ def_iface('bond', 'inet6', item) }} #}
{# {% endif %} #}
{# {\# {{ item.ifupdown_iface_selection | default('auto') }} {{ item.device }} #\} #}
{# {\# {{ def_iface('bond', 'inet', item) }} #\} #}
{# {\# {{ def_iface('bond', 'inet6', item) }}   #\} #}
{# {% endblock %} #}
