{% if item.addresses is defined and item.addresses | ipv4 %} 
{% set ipv4_list = item.addresses | ipv4() %}
{% if network_interface_expand_cidr %}
    address {{ ipv4_list[0] | ipaddr('address') }}
    network {{ ipv4_list[0] | ipaddr('network') }}
    netmask {{ ipv4_list[0] | ipaddr('netmask') }}
  {% if ipv4_list[0] | ipaddr('broadcast') %}
    broadcast {{ ipv4_list[0] | ipaddr('broadcast') }}
  {% endif %}
{% else %}
{%  if type != 'vlan' %} 
    address {{ ipv4_list[0] }}
{%  endif %}
{% endif -%}

{% if item.gateway4 is defined and item.gateway4 != 'auto' %}
    gateway {{ item.gateway4 }}
{% elif item.gateway4 is defined and item.gateway4 == 'auto' or network_interface_auto_gateway %}
    gateway {{ ipv4_list[0] | ipaddr('1') | ipaddr('address') }}
{% endif -%}

{% for address in (type == 'vlan') | ternary(ipv4_list, ipv4_list[1:]) %}
    up ip address add dev $IFACE {{ address }}
    down ip address del dev $IFACE {{ address }}
{% endfor %}
{% endif -%} 

{% if network_interface_debian_resolvconf |default(False) %}
{% include 'Debian_resolvconf.j2' %}
{% endif -%}

{% if item.routes is defined %}
{% for route in item.routes %}
{% if route.to | ipv4 or route.via | ipv4 %}
    up ip route add {{ route.to }} via {{ route.via }}
{% endif %}
{% endfor %}
{% endif %}
