{% extends "ifupdown_interface_base.j2" %}
{% set type = 'loopback' %}
{% block interface_selection %}
{%   if item.device == network_interface_loopback_name
        and _network_interface_implicit_loopback_added | default(False) %}
auto {{ item.device }}
{%   else %}
{{ super() }}
{%   endif %}
{% endblock %}
{% block interfaces %}
{%   if item.device == network_interface_loopback_name
        and _network_interface_implicit_loopback_added | default(False) %}
iface {{ item.device }} inet loopback
{%   else %}
iface {{ item.device }} inet loopback
{{ super() }}
{%   endif %}
{% endblock %}
