{% if not network_interface_single_configuration_file %}
# {{ ansible_managed }}

{% endif %}
{#
# In case there are multiple interface stanzas, any additional options,
# for example "bonding" options, are not duplicated in every stanza.
# Instead, default family is selected, and options are set only in interface definition
# with that family.
#
# Example: default family is 'inet'.
#
#       allow-hotplug eth1
#
#       iface eth1 inet static
#            address 192.168.1.2/24
#            gateway 192.168.1.1
#            up /bin/true
#            hwaddress 00:11:22:33:44:55
#
#       iface eth1 inet6 static
#            address fec0:0:0:1::2/64
#            gateway fec0:0:0:1::1
#}
{% set default_family = None %}
{% if (item.addresses | default([]) | ansible.utils.ipv4)
       or (item.dhcp4 is defined and item.dhcp4 ) %}
{%   set add_family_inet = True %}
{%   set default_family = 'inet' %}
{% endif %}
{% if (item.addresses | default([]) | ansible.utils.ipv6 ) %}
{%   if default_family is none %}
{%     set default_family = 'inet6' %}
{%   endif %}
{%   set add_family_inet6 = True %}
{% endif %}
{% if default_family is none %}
{%   set add_family_inet = True %}
{%   set default_family = 'inet' %}
{% endif %}
{% from "ifupdown_macros.j2" import def_iface with context %}
{% block interface_selection %}
{{ item.backend.ifupdown.selection | default('auto') }} {{ item.device }}
{% endblock %}
{% block interfaces %}
{% if add_family_inet | default(False) %}
{{ def_iface(type, 'inet', item) }}
{% endif %}
{% if add_family_inet6 | default(False) %}
{{ def_iface(type, 'inet6', item) }}
{% endif %}
{% endblock %}
