{% macro common_options() %}
{% for opt in item.debian_command_options | default([]) %}
{%   if opt is mapping %}
{%     if opt.comment is defined %}
    # {{ opt.comment }}
{%     endif %}
    {{ opt.command }}
{%   else %}
    {{ opt }}
{%   endif %}
{% endfor %}
  {% if item.mtu is defined %}
    mtu {{ item.mtu }}
  {% endif %}
  {{ macro_macaddress() }}

{% endmacro %}

{% macro macro_macaddress() %}
{% if item.macaddress is defined %}
    hwaddress {{ item.macaddress }}
{% endif %}
{% endmacro %}

{%- macro def_iface(type, family, item) -%}

  {%- if family == 'inet6' %}
    {%- if item.addresses is defined and item.addresses | ipv6 -%}
      {%- set method = 'static' -%}
    {%- elif (item.debian_command_options is defined and item.debian_command_options and default_family == 'inet6')
      or (type == 'bond' and default_family == family )
      or (type == 'vlan' and item.link is defined and item.link is not none and item.id is defined and item.id is not none and default_family == family)
 -%}
      {%- set method = 'manual' -%}
    {%- endif -%}
  {%- endif -%}

  {%- if family == 'inet' -%}
    {%- if item.addresses is defined and item.addresses | ipv4 -%}
      {%- set method = 'static' -%}
    {%- elif item.dhcp4 is defined and item.dhcp4 -%}
      {%- set method = 'dhcp' -%}
    {%- elif (item.debian_command_options is defined and item.debian_command_options and default_family == 'inet')
      or (type == 'bond' and default_family == family)
      or (type == 'vlan' and item.link is defined and item.link is not none and item.id is defined and item.id is not none and default_family == family)
-%}
      {%- set method = 'manual' -%}
    {%- endif -%}
  {%- endif -%}

{#
{%    if type == 'vlan' and item.link is defined and item.link is not none and item.id is defined and item.id is not none %}
{%      set method = 'manual' %}
{%    endif %}
#}

  {%- if method is defined %}
iface {{ item.device }} {{ family }} {{ method }}

{%    if type == 'vlan' and item.link is defined and item.id is defined and (item.device != "{}.{}".format(item.link, item.id)) %}
    pre-up /bin/ip link add link {{ item.link }} name {{ item.device }} type vlan id {{ item.id }}
    down /bin/ip link del name {{ item.device }}
{#{%      if item.link is not in network_ether_interfaces %}
    up /bin/ip link set {{ item.link }} up
{%      endif %}#}
{%    endif %}

    {%- if family == 'inet' -%}
      {%- include "ifupdown_ipv4_options.j2" %}
    {%- endif -%}

    {%- if family == 'inet6' -%}

      {%- include "ifupdown_ipv6_options.j2" -%}
    {%- endif %}

{% if default_family == family -%}
    {{ common_options() }}
      {% if type == 'bond' %}
	{% include "ifupdown_bond_options.j2" %}
      {% endif %}
      {% if item.description | default("") %}
	{% if type != 'bond' and type != 'loopback' %}
    description {{ item.description }}
	{% else %}
    up /sbin/ip link set $IFACE alias "{{ item.description }}"
	{% endif %}
      {% endif %}  

    {% endif %}
  {% endif -%}
{% endmacro -%}
