#!/bin/sh

# Shutdown current network configuration
# Ethernet
{% for int in ether_interfaces_changed %}
ifdown -v {{ int }}
{% endfor %}
# Bonding
{% for int in bond_interfaces_changed %}
ifdown -v {{ int }}
{% endfor %}
# {% if bond_result is defined and 'results' in bond_result %}{% for item in bond_result.results %}
# ifdown {{ item.item.device }}
# {% endfor %}{% endif %}
# Vlan 
{% for int in vlan_interfaces_changed %}
ifdown -v {{ int }}
{% endfor %}
# Bridge
{% if bridge_port_result is defined and 'results' in bridge_port_result %}{% for item in bridge_port_result.results %}
ifdown {{ item.item.1 }}
{% endfor %}{% endif %}
{% if bridge_result is defined and 'results' in bridge_result %}{% for item in bridge_result.results %}
ifdown {{ item.item.device }}
{% endfor %}{% endif %}

# Short delay to prevent issues
sleep 1

# Start new network configuration
# Ethernet
{% for int in ether_interfaces_changed %}
ifup -v {{ int }}
{% endfor %}
# Bonding
{% for int in bond_interfaces_changed %}
ifup -v {{ int }}
{% endfor %}
# {% if bond_result is defined and 'results' in bond_result %}{% for item in bond_result.results %}
# ifup {{ item.item.device }}
# {% endfor %}{% endif %}
# Vlan 
{% for int in vlan_interfaces_changed %}
ifup -v {{ int }}
{% endfor %}
# Bridge
{% if bridge_port_result is defined and 'results' in bridge_port_result %}{% for item in bridge_port_result.results %}
ifup {{ item.item.1 }}
{% endfor %}{% endif %}
{% if bridge_result is defined and 'results' in bridge_result %}{% for item in bridge_result.results %}
ifup {{ item.item.device }}
{% endfor %}{% endif %}


