#!/bin/sh

returncode=0
{% for int in _network_interface_changed_interfaces %}
if ! ifdown -v "{{ int }}"; then
    echo "Failed to bring down: {{ int }}"
    returncode=1
fi
{% endfor %}

sleep 1

{% for int in _network_interface_changed_interfaces %}
if ! ifup -v "{{ int }}"; then
    echo "Failed to bring up: {{ int }}"
    returncode=1
fi
{% endfor %}

exit $returncode
