{# {% from "interface_Debian_macros.j2" import def_iface with context %} #}

{% extends "interface_Debian_macros.j2" %}
{% block content %}
{{ item._debian_iface_selection | default('auto') }} {{ item.device }}

{{ def_iface('ethernet', 'inet', item) }}

{{ def_iface('ethernet', 'inet6', item) }}  
{% endblock %}
