{% block iface_select %}auto{% endblock %} {% block iface_name %}{% endblock %}

iface {{ self.iface_name() }} {% block family %}inet{% endblock %} {%block method %}{% endblock %}
{% block ipv4 %}
{% endblock %}
{% block options %}
{% endblock %}
